<br/>
<h3>Details for Movie</h3>
<div class="form-group">
<div *ngIf="isError" style="text-align:left;padding-left:10px;font-size:14px;color:red;"> {{errorMessage}} </div>
</div>
<div class="form-group">
  <label for="title">Title</label>
  <input type="text" [(ngModel)]="movie.name" class="form-control" id="title" placeholder="Movie Title Here"/>
</div>
<div class="form-group">
  <label for="year">Release Year</label>
  <input type="text" [(ngModel)]="movie.year" class="form-control" id="year" placeholder="When was the movie released?"/>
</div>
<div class="form-group">
  <label for="director">Description</label>
  <input type="text" [(ngModel)]="movie.description" class="form-control" id="director" placeholder="Description of the movie?"/>
</div>
<div class="form-group">
  <label for="genre">Rating</label>
  <input type="text" [(ngModel)]="movie.rating" class="form-control" id="genre" placeholder="Rating"/>
</div>
<div class="form-group">
  <input (click)="saveMovie()" type="submit" class="btn btn-primary" value="Save Movie"/>
</div>