<br />
<h3>Details for Director</h3>
<div class="form-group">
    <div *ngIf="isError" style="text-align:left;padding-left:10px;font-size:14px;color:red;"> {{errorMessage}} </div>
</div>
<div class="form-group">
    <label for="title">Director Name</label>
    <input type="text" [(ngModel)]="director.name" class="form-control" id="title" placeholder="Director Name Here" />
</div>
<div class="form-group">
    <label for="year">Age</label>
    <input type="text" [(ngModel)]="director.age" class="form-control" id="age" placeholder="When was the director released?" />
</div>
<div class="form-group">
    <label for="director">Gender</label>
    <div *ngFor="let gender of genders">
        <label>
            <input type="radio" name="gender" [(ngModel)]="director.gender"
                   [value]="gender.value">
            {{gender.display}}
        </label>
    </div>

</div>

<div class="form-group">
    <input (click)="saveDirector()" type="submit" class="btn btn-primary" value="Save Director" />
</div>