<br>
<h4>Directors Dashboard</h4>
<br>

<table class="table">
  <tr>
  <td align="right" colspan="2"> <div align="right"><a [routerLink]="['/directors/new']" class="btn-primary btn-lg">Add New Director</a></div> </td>
  </tr>
  <tr *ngFor="let director of directors">
    <td>{{director.name}}</td>
    <td align="right">
      <a class="btn btn-primary" [routerLink]="['/directors', director.director_id, 'view']">View</a>
      <a class="btn btn-danger"  (click)="deleteDirector(director, $event)">Delete</a>
    </td>
  </tr>
</table>




