<div class="container">

  <nav class="navbar navbar-dark bg-inverse nav-head">
    <div class="nav navbar-nav" style="float:left"> <img src="/assets/logo.png" alt="" height="40px" width="50px"> <span class="heading">Movies App</span> </div> 
    <div class="nav navbar-nav" style="float:right">
        <a routerLink="/" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
          <i class="fa fa-list"></i> <span class="hidden-xs-down">Movies</span>
        </a>
        <a routerLink="/actors" class="nav-item nav-link" routerLinkActive="active">
            <i class="fa fa-user-o"></i> <span class="hidden-xs-down"> Actors </span>
        </a>
        <a routerLink="/movies" class="nav-item nav-link" routerLinkActive="active">
            <i class="fa fa-user"></i> <span class="hidden-xs-down"> Directors </span>
        </a>
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>